.content-wrapper {
  display: flex;
  flex-direction: row;
  position: relative;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background: rgb(243, 243, 243);
  width: 100%;
  min-height: 150vw;
  &-header {
    text-align: center;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgb(214, 214, 214);
  }
  @include mq($lg) {
    margin-left: $nav-panel-lg-width; // makes spacing for nav panel in large screens
  }
}
