// ===================================
// Variables
// ===================================

// Colors
$color-white: #fff;

$color-primary: #003049; //green
$color-secondary: #f77f00; //blue
$color-text: rgb(43, 43, 43); //grey

$btn-color-error: #e4757a; //red
$btn-color-info: #927bc1; //purple
$btn-color-success: #63cc82; //green
$btn-color-warning: #fd7856; //orange

// Fonts
$font-stack-primary: 'Lato', sans-serif;

//components
$nav-panel-lg-width: 200px;

// Breakpoints
$lg: 768px;
