.box {
  background: $color-white;
  padding: 0.5rem;
  border-radius: $size-7;
  box-shadow: 0 0.1px 5.3px rgba(0, 0, 0, 0.028),
    0 0.4px 17.9px rgba(0, 0, 0, 0.042), 0 2px 80px rgba(0, 0, 0, 0.07);
}
